.page-index {
    main#main-page {
        flex-grow: 1; /* prend tout l'espace restant */
        box-sizing: border-box;
  
    }
  
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body.page-index {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      main#main-page {
        flex: 1 0 auto; /* Prend tout l'espace disponible */
        background-color: $color-light-beige; /* Couleur de fond pour éviter le blanc pur */
        padding: 0px;
        box-sizing: border-box;
      }
      footer.footer-responsive {
        flex-shrink: 0;
        text-align: center;
      }

      #main-page {
        transition: opacity 0.3s ease;
      }
      
      #main-page.loading {
        opacity: 0.5;
        pointer-events: none; /* Empêche les interactions pendant le chargement */
      }

      #loader-overlay {
        display: none;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      #loader-overlay::after {
        content: "";
        width: 40px;
        height: 40px;
        border: 5px solid #4caf50;
        border-top-color: transparent;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }
      
      @keyframes spin {
        to { transform: rotate(360deg); }
      }
    

  }