#user-history-form {

    h1 {
        text-align: center;
        margin: 35px;
      }
    
      h2 {
        text-align: left;
      }
    
      form {
        background-color: $color-light-beige;
        padding: 10px 35px 35px;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0,0,0,.1);
        text-align: center;
        margin-bottom: 35px;
      }
    
      .btn {
        background-color: $color-medium-green;
        color: $color-light-beige;
        border: none;
        border-radius: 30px;
        padding: 10px 20px;
        font-family: $font-title;
        font-size: $font-size-body;
        font-weight: $weight-medium;
        transition: background .3s ease, transform .3s ease;
        box-shadow: 0 6px 8px rgba(74,122,63,.5);
      
        &:hover {
          background-color: $color-dark-green;
          transform: scale(1.05);
          box-shadow: 0 6px 8px rgba(74,122,63,.5);
        }
      }
    
      .form-control {
        border-radius: 20px;
        padding: 12px 20px;
        font-weight: $weight-semibold;
        font-size: $font-size-nav;
        color: $color-dark-green;
        background-color: $color-very-light-beige;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
        transition: box-shadow 0.3s ease;
        
        &::placeholder { 
          color: #7a8a6f; 
        }
    
        &:focus {
          background-color: $color-very-light-beige;    /* ne change pas le fond */
          box-shadow: 0 0 5px 2px $color-dark-green;   /* halo lumineux vert */
        }
      }
      
      label {
        font-family: $font-body;
        font-size: $font-size-body;
        font-weight: $weight-regular;
        color: $color-dark-green;
        display: flex; align-items: center;
        margin-bottom: 10px;
      }
    
      // layout champs
      .form-fields,
      .trajets-historique{
        display: flex; 
        flex-direction: column; 
        gap: 30px; 
        margin-top: 20px;
        color: $color-light-beige;
      
        .form-field { display: flex; flex-direction: column; text-align: left; }
        .role-group { display: flex; gap: 15px; flex-wrap: wrap; }
        .checkbox-group { display: flex; flex-wrap: wrap; gap: 15px; }
      
        .btn { align-self: center; margin-top: 20px; min-width: 200px; }
      }
    
      .input-with-unit {
        display: flex;
        align-items: center;
      
        input {
          flex: 1;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      
        .unit {
          background-color: $color-medium-green;
          color: $color-light-beige;
          padding: 10px 15px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          font-family: $font-body;
          font-size: $font-size-body;
          font-weight: $weight-medium;
        }
      }
    
    
      // Trajets en cours
      // Trajets en cours
      // Trajets en cours
    
      .trajets-en-cours,
      .trajets-historique {
        gap:10px; 
        
        label {
          margin-bottom: 0px;
        }
        .trajet-card {
          background: $color-medium-green;
          border-radius: 20px;
          padding: 15px 20px;
          box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      
          .trajet-header {
            margin-bottom: 8px;
          }
      
          .trajet-body {
            display: flex;
            align-items: center;
            justify-content: flex-start; // Aligne les éléments au début
            flex-wrap: wrap;
            gap: 20px; // Ajoute un espace fixe entre les éléments
            color: $color-light-beige;
    
            @media (max-width: 1215px) {
              flex-direction: column; // Passe en disposition verticale
              align-items: center; // Centre les éléments horizontalement
              gap: 15px; // Ajuste l'espace entre les éléments
    
              .btn-trajet,
              .trajet-status {
                margin: 0 auto; // Centre les éléments dans le conteneur
                text-align: center; // Centre le texte pour trajet-status
              }
    
              .trajet-status {
                padding-top: 13px; // Ajoute un espace au-dessus pour séparer du reste
                padding-bottom: 13px;
              }
    
              .trajet-price {
                margin-left: 0 !important; // Supprime la marge gauche avec priorité
                text-align: center; // Centre le texte
                display: block; // Assure que l'élément est en bloc pour un centrage correct
              }
    
              .details {
                margin: 0 auto; // Centre les détails horizontalement
                text-align: center; // Centre le texte des détails
                display: block; // Assure que l'élément est en bloc pour un centrage correct
              }
            }
    
            .trajet-info {
              text-align: left; // Alignement à gauche
              display: inline-block; // Ajuste la largeur à celle du contenu
              line-height: 1.5; // Définit une interligne fixe
              strong {
                display: block;
                font-family: $font-body;
                font-size: $font-size-body;
                font-weight: $weight-regular;
                margin-bottom: 4px;
              }
              .details {
                font-family: $font-body;
                font-size: $font-size-nav;
                font-weight: $weight-regular;
                opacity: 0.8;
              }
            }
    
            .trajet-price {
              font-family: $font-body;
              font-size: $font-size-nav;
              font-weight: $weight-regular;
              margin-left: 20px; // Ajoute un espace fixe entre trajet-info et trajet-price
            }
    
            .btn-trajet {
              margin-left: auto; // Force le bouton à rester aligné à droite
              background-color: $color-medium-green;
              color: $color-light-beige;
              border: none;
              border-radius: 30px;
              padding: 10px 20px;
              font-family: $font-title;
              font-size: $font-size-body;
              font-weight: $weight-medium;
              transition: background .3s ease, transform .3s ease;
              box-shadow: 0 6px 8px rgba(74,122,63,.5);
    
              &:hover {
                background-color: $color-dark-green;
                transform: scale(1.05);
                box-shadow: 0 6px 8px rgba(74,122,63,.5);
              }
            }
    
            .btn-trajet {
              font-size: $font-size-nav !important; /* Force l'application de la règle */
              padding: 8px 16px !important; /* Force l'application de la règle */
            }
    
            .trajet-status {
              margin-left: auto;
              
              font-family: $font-body;
              font-size: $font-size-nav;
              font-weight: $weight-regular;
              font-style: italic;
            }
          }
      
          &.actif {
            background: $color-medium-green;
            color: $color-light-beige;
      
            .trajet-info strong,
            .trajet-price {
              color: $color-light-beige;
            }
    
            .details {
              color: $color-light-beige;
            }
      
            .btn-trajet {
              background: $color-light-beige;
              color: $color-dark-green;
    
              &:hover {
                background-color: $color-dark-green;
                color: $color-light-beige;
                transform: scale(1.05);
                box-shadow: 0 6px 8px rgba(74,122,63,.5);
              }
            }
          }
          
          &.validé {
            background: $color-background;
          }
        }
      }
    
      @media (max-width: 576px) {
        .btn {
          font-size: $font-size-nav; /* Réduit la taille des boutons */
          padding: 8px 16px; /* Ajuste le padding des boutons */
        }
    
        .trajet-card .btn-trajet {
          font-size: $font-size-nav; /* Réduit la taille des boutons */
          padding: 8px 16px; /* Ajuste le padding des boutons */
        }
    
        .form-control {
          padding: 8px 15px;
          font-size: 12px;
        }
        
        label {
          font-size: $font-size-nav;
        }
    
        .input-with-unit {
          .unit {
            padding: 8px 15px;
            font-size: 12px;
          }
        }
    
        .trajet-info {
          strong {
            font-size: $font-size-nav !important; /* Force l'application de la règle */
          }
          .details {
          font-size: $font-size-small !important; /* Force l'application de la règle */
          text-align: left !important; /* Aligne le texte à gauche */
          margin: 0 !important; /* Supprime tout centrage horizontal */
        }
        }
    
        .trajet-price {
          font-size: $font-size-small !important; /* Force l'application de la règle */
        }
    
        form {
          padding: 10px 20px 35px;
        }

        .trajet-status {
            text-align: center !important;
            margin: 0 auto !important; /* Centre horizontalement */
        }
    }
}