// Import des polices Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap');

// Import des icônes Bootstrap
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");

// Import des variables et styles personnalisés
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le body occupe toute la hauteur de la fenêtre */
}

main {
    flex: 1; /* Permet au contenu principal de prendre tout l'espace disponible */
    margin-bottom: 50px; /* Espace pour le footer */
    margin-top: 50px; /* Espace pour le header */
}

footer {
    background-color: $color-dark-green; /* Couleur de fond */
    color: $color-light-beige; /* Couleur du texte */
    width: 100%; /* Pleine largeur */
    height: 120px; /* Hauteur fixe */
    display: flex;
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Centrage vertical */
}

footer.footer{
    padding: 15px; /* Ajoute de l'espace horizontal */
    position: absolute;
    bottom: 0;
    width: 100%;
}

header, footer {
    width: 100vw;
    background-color: $color-light-beige; /* ou $color-dark-green pour le footer */
    margin: 0;
    padding: 0;
    position: relative;
  
    .container {
      @include responsive-margin(100px, 50px, 25px);
    }
  }

