# macOS system files
.DS_Store

# Node modules
node_modules/

# Fichiers compilés CSS et maps
scss/main.css
scss/main.css.map

# Autres fichiers temporaires ou IDE (exemple)
.vscode/
*.log

scss/*.bak

.vscode/settings.json


